*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
}



/* Design for the navbar */
nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
    font: 1.5rem;
    position: sticky;
    top: 0px;

}

.menu-container{
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
}

a{
    text-decoration: none;
    color: white;
}

/* Main Body Content */
.site-content{
    display: flex;
}

h1{
    margin: 10px 0 10px 0;
}

p{
    margin: 10px 0 10px 0;
}

button{
    margin: 10px 0 10px 0;
    padding: 10px 20px 10px 20px;
    background-color: black;
    color: white;
    border-radius: 10%;
}

.content{
    width: 50vw;
    padding: 100px;
}

.image{
    width: 50vw;
    display: flex;
   margin-top: 100px;
}

img{
    height: 500px;
    width: 500px;
}